* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    margin: 0 auto;
    width: 1200px;
}

/*      header  area        */
header {
    width: 100%;
    height: 100px;
    background-color: blue;
}

/*      logo area       */
#logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: indigo;
}

/*      nav area        */
nav {
    float: right;
    width: 900px;
    height: 100px;
    background-color: green;
}

/*      image slide area        */
#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

/*      contents area       */
#contents {
    width: 100%;
    height: 300px;
}

/*      tabMenu area     */
#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}

/*      quick link  area        */
#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}

/*      footer area         */
footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}